@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  box-sizing: border-box;
  padding: 2rem; }

section {
  min-height: 100vh;
  width: 100%; }

@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel-Regular.ttf"); }

body {
  color: #fff;
  font-family: "Abel", sans-serif;
  font-weight: 100; }

a {
  text-decoration: none;
  color: #fff; }

.footer {
  background-color: #17101d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  font-size: 1.8rem; }
  .footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem; }
    .footer__icons--github-icon, .footer__icons--linkedin-icon {
      width: 3rem;
      height: 3rem; }

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("/img/space.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__title-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase; }
    .header__title-box--text {
      font-size: 7rem;
      letter-spacing: .8rem;
      animation: moveInTop .5s ease-out; }

.scroll-down {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .scroll-down__icon {
    width: 6rem;
    height: 6rem;
    transition: all .4s;
    animation: moveInBottom .5s ease-out; }
    .scroll-down__icon:hover {
      cursor: pointer;
      transform: scaleX(1.5) scaleY(1.5); }

.section-2 {
  position: relative; }
  .section-2__content {
    background-image: linear-gradient(rgba(23, 16, 29, 0.7), rgba(23, 16, 29, 0.7));
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99.9%;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .section-2__left-box, .section-2__right-box {
    width: 50rem;
    height: 35rem; }
  .section-2__left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section-2__left-box--title {
      font-size: 6rem;
      text-align: center;
      letter-spacing: .3rem; }
    .section-2__left-box--info {
      font-size: 2rem;
      padding: 1rem 1rem 0rem 2rem; }
    .section-2__left-box--chess {
      text-decoration: underline;
      transition: all .2s ease-in-out; }
      .section-2__left-box--chess:hover {
        padding: 0 .4rem;
        background: #fff;
        color: #17101d;
        text-decoration: none;
        border-radius: 1.5rem; }
  .section-2__buttons {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem; }
    .section-2__buttons--projects, .section-2__buttons--resume {
      font-size: 1.8rem;
      text-align: center;
      color: #000;
      border-radius: 25px;
      width: 18rem;
      background-color: azure;
      padding: 1.2rem; }
  .section-2__right-box--photo-box {
    height: 35rem;
    background-color: rgba(148, 0, 211, 0.2); }
  .section-2__right-box--image {
    transition: all .8s;
    width: 50rem;
    height: 35rem;
    clip-path: polygon(0 10%, 25% 0, 100% 0, 100% 90%, 75% 100%, 0 100%); }
  .section-2__right-box--image:hover {
    transform: scaleX(1.2) scaleY(1.2); }

.section-3 {
  position: relative; }
  .section-3__content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99.9%;
    height: 95vh; }
  .section-3__projects-1, .section-3__projects-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 8rem; }
  .section-3__title {
    color: black;
    text-transform: uppercase;
    letter-spacing: .6rem;
    font-size: 6rem;
    text-align: center;
    margin: 6rem; }
  .section-3__card {
    background: #17101d;
    font-size: 2rem;
    width: 30rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .section-3__card:hover {
      cursor: pointer; }
    .section-3__card--btn {
      background: #fff;
      color: #000;
      margin: 2rem;
      padding: 1rem 2.2rem;
      border-radius: 25px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .section-3__card--btn:active {
        transform: translateY(0.2rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
