@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  box-sizing: border-box;
  padding: 2rem; }

section {
  min-height: 100vh;
  width: 100%; }

@font-face {
  font-family: "Abel";
  src: url("../fonts/Abel-Regular.ttf"); }

body {
  color: #fff;
  font-family: "Abel", sans-serif;
  font-weight: 100; }

a {
  text-decoration: none;
  color: #fff; }

.footer {
  background-color: #17101d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.6rem;
  font-size: 1.8rem;
  margin-top: 2.5rem; }
  .footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem; }
    .footer__icons--github-icon, .footer__icons--linkedin-icon {
      width: 3rem;
      height: 3rem; }

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("/img/space.jpg");
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__title-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase; }
    .header__title-box--text {
      text-transform: uppercase;
      letter-spacing: .8rem;
      font-size: 7rem;
      text-align: center;
      margin: 6rem;
      animation: moveInTop .5s ease-out; }

.scroll-down {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .scroll-down__icon {
    width: 6rem;
    height: 6rem;
    transition: all .4s;
    animation: moveInBottom .5s ease-out; }
    .scroll-down__icon:hover {
      cursor: pointer;
      transform: scaleX(1.5) scaleY(1.5); }

.section-2 {
  position: relative; }
  .section-2__content {
    background-image: linear-gradient(rgba(23, 16, 29, 0.8), rgba(23, 16, 29, 0.8));
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
  .section-2__left-box, .section-2__right-box {
    width: 35%;
    height: 45%; }
  .section-2__left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section-2__left-box--title {
      font-size: 6rem;
      text-align: center;
      letter-spacing: .3rem; }
    .section-2__left-box--info {
      font-size: 2rem;
      padding: 1rem 1rem 0rem 2rem; }
    .section-2__left-box--chess {
      text-decoration: underline;
      transition: all .2s ease-in-out; }
      .section-2__left-box--chess:hover {
        padding: 0 .4rem;
        background: #fff;
        color: #17101d;
        text-decoration: none; }
  .section-2__buttons {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem; }
    .section-2__buttons--projects, .section-2__buttons--resume {
      font-size: 1.8rem;
      text-align: center;
      color: #000;
      border-radius: 25px;
      width: 18rem;
      background-color: azure;
      padding: 0.8rem 1.2rem;
      transition: all .2s; }
      .section-2__buttons--projects:hover, .section-2__buttons--resume:hover {
        transform: scale(1.2); }
  .section-2__right-box--photo-box {
    height: 100%;
    outline: solid 1.2rem #000;
    outline-offset: -1.6rem; }
  .section-2__right-box--image {
    transition: all .8s;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 10%, 25% 0, 100% 0, 100% 90%, 75% 100%, 0 100%); }
  .section-2__right-box--image:hover {
    transform: scaleX(1.2) scaleY(1.2); }

.section-3 {
  position: relative; }
  .section-3__content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 95vh; }
  .section-3__projects {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    margin-top: 8rem; }
  .section-3__title {
    text-transform: uppercase;
    letter-spacing: .8rem;
    font-size: 7rem;
    text-align: center;
    margin: 6rem;
    color: black; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 30rem;
  height: 35rem; }
  .card__side {
    background: #17101d;
    font-size: 2rem;
    backface-visibility: hidden;
    transition: all .8s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    height: 35rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .card__side--front {
      display: flex;
      align-items: center;
      justify-content: center; }
    .card__side--back {
      background-color: #9491AD;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transform: rotateY(180deg); }
    .card__side--info {
      margin-bottom: 4rem; }
    .card__side--btn {
      background: #fff;
      color: #000;
      padding: 1rem 2.2rem;
      border-radius: 25px;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .card__side--btn:active {
        transform: translateY(0.2rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      .card__side--btn:last-child {
        margin-top: 2rem; }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }

.section-4 {
  position: relative;
  height: 25vh; }
  .section-4__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100%; }
  .section-4__title {
    text-transform: uppercase;
    letter-spacing: .8rem;
    font-size: 7rem;
    text-align: center;
    margin: 6rem;
    font-size: 3rem;
    color: white; }
  .section-4__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem; }
    .section-4__icons--github-icon, .section-4__icons--linkedin-icon, .section-4__icons--email-icon {
      width: 6rem;
      height: 6rem; }

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: .3; }
