@mixin section-title {
    text-transform: uppercase;
    letter-spacing: .8rem;
    font-size: 7rem;
    text-align: center;
    margin: 6rem;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}