@import "abstracts/variables";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "layout/footer";


.header {
    min-height: 100vh;
    width: 100%;
    background-image: url('/img/space.jpg');
    background-size: cover;
    background-position: top;
    position: relative;

    &__title-box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;

        &--text {
            font-size: 7rem;
            letter-spacing: .8rem;
            animation: moveInTop .5s ease-out;
        }
    }
}

.scroll-down {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__icon {
        width: 6rem;
        height: 6rem;
        transition: all .4s;
        animation: moveInBottom .5s ease-out;

        &:hover {
            cursor: pointer;
            transform: scaleX(1.5) scaleY(1.5);
        }
    }
}

.section-2 {
    position: relative;

    &__content {
        background-image: 
            linear-gradient(
                rgba($dark-purple, .7), 
                rgba($dark-purple, .7));
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 99.9%; 
        height: 95vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    &__left-box,
    &__right-box {
        width: 50rem;
        height: 35rem;
    }
    
    &__left-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--title {
            font-size: 6rem;
            text-align: center;
            letter-spacing: .3rem;
        }
        
        &--info {
            font-size: 2rem;
            padding: 1rem 1rem 0rem 2rem;
        }
        
        &--chess {
            text-decoration: underline;
            transition: all .2s ease-in-out;

            &:hover {
                padding: 0 .4rem;
                background: $white;
                color: $dark-purple;
                text-decoration: none;
                border-radius: 1.5rem;
            }
        }
    }
    
    &__buttons {
        margin: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;

        &--projects,
        &--resume {
            font-size: 1.8rem;
            text-align: center;
            color: $black;
            border-radius: 25px;
            width: 18rem;
            background-color: azure;
            padding: 1.2rem;
        }
    }
    
    &__right-box {
        &--photo-box {
            height: 35rem;
            background-color: rgba($light-purple, 0.2);
        }
        
        &--image {
            transition: all .8s;
            width: 50rem;
            height: 35rem;
            clip-path: polygon(0 10%, 25% 0, 100% 0, 100% 90%, 75% 100%, 0 100%);
        }
        
        &--image:hover {
            transform: scaleX(1.2) scaleY(1.2);
        }
    }
    
}

.section-3 {
    position: relative;

    &__content {
        background-color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 99.9%; 
        height: 95vh;
    }
    
    &__projects-1, 
    &__projects-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8rem;
        margin-top: 8rem;
    }
    
    &__title {
        color: black;
        text-transform: uppercase;
        letter-spacing: .6rem;
        font-size: 6rem;
        text-align: center;
        margin: 6rem;
    }
    
    &__card {
        background: $dark-purple;
        font-size: 2rem;
        width: 30rem;
        height: 35rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 1rem 2rem rgba($black,.2);

        &:hover {
            cursor: pointer;
        }

        &--btn {
            background: $white;
            color: $black;
            margin: 2rem;
            padding: 1rem 2.2rem;
            border-radius: 25px;
            box-shadow: 0 1rem 2rem rgba($black,.2);
    
            &:active {
                transform: translateY(.2rem);
                box-shadow: 0 .5rem 1rem rgba($black,.2);
            }
        }
    }
}