@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";

@import "components/background-video";
@import "components/button";
@import "components/card";
@import "components/scroll-down";

@import "layout/footer";
@import "layout/header";
@import "layout/section-2";
@import "layout/section-3";
@import "layout/section-4";

@import "breakpoints/include-media";
@import "breakpoints/phone";