.section-4 {
    height: 12vh;
    @include flex-center;

    &__content {
        @include flex-center;
        width: 40%; 
        height: 100%;
    }

    &__icons {
        @include flex-center;
        gap: 4rem;

        &--github-icon,
        &--linkedin-icon,
        &--email-icon {
            width: 6rem;
            height: 6rem;
        }
    }
}