* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    color: white;
    font-family: "Abel", sans-serif;
    font-weight: 100;
    box-sizing: border-box;
    padding: 2rem;
}

section {
    min-height: 100vh;
    width: 100%;
}

@font-face {
    font-family: "Abel";
    src: url('fonts/Abel-Regular.ttf');
}

#section-1 {
    background-image: url('/img/space.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
}

.section-1__title-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-1__title-box--text {
    font-size: 7rem;
    letter-spacing: .8rem;
}

a {
    text-decoration: none;
    color: white;
}

.scroll-down {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-down__icon {
    width: 6rem;
    height: 6rem;
    transition: all .4s;
}

.scroll-down__icon:hover {
    cursor: pointer;
    transform: scaleX(1.5) scaleY(1.5);
}

#section-2 {
    position: relative;
}

.section-2__content {
    background-image: 
        linear-gradient(
            rgba(23, 16, 29, 0.7), 
            rgba(23, 16, 29, 0.7));
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99.9%; 
    height: 95vh;
}

.footer {
    background-color: #18111D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.6rem;
    font-size: 1.8rem;
}

.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.footer__icons--github-icon,
.footer__icons--linkedin-icon {
    width: 3rem;
    height: 3rem;
}