.btn {
    font-size: 1.8rem;
    text-align: center;
    color: $black;
    border-radius: 25px;
    width: 16rem;
    background-color: azure;
    padding: 0.8rem 1.2rem;
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba($black,.2);

    &:hover {
        transform: scale(1.2);
    }

    &:active {
        transform: translateY(.2rem);
        box-shadow: 0 .5rem 1rem rgba($black,.2);
    }
}