.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    width: 22%;
    height: 100%;
    
    &__side {
        background: $dark-purple;
        font-size: 2rem;
        height: 100%;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        box-shadow: 0 1rem 2rem rgba($black,.2);

        &--front {
            @include flex-center;
            text-align: center;
        }

        &--back {
            background-color: $bland-purple;
            @include flex-center;
            flex-direction: column;
            transform: rotateY(180deg);
        }

        &--info {
            margin-bottom: 4rem;

            ul {
                list-style-type: none;
            }
        }

        &--btn {

            width: 20rem;
            height: 5rem;
            font-size: 2.6rem;
     
            &:last-child {
                margin-top: 2rem;
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }
}