.scroll-down {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__icon {
        width: 6rem;
        height: 6rem;
        transition: all .4s;
        animation: moveInBottom .5s ease-out;

        &:hover {
            cursor: pointer;
            transform: scaleX(1.5) scaleY(1.5);
        }
    }
}