@media (max-width: 480px) {

    section {
        overflow: hidden;
    }

    .header {

        &__title-box {

            &--text {
                font-size: 5.6rem;
            }
        }
    }

    .scroll-down {

        &__icon {
            width: 8rem;
            height: 8rem;
        }
    }

    .btn {
        font-size: 1.4rem;
        width: 10rem;
    }

    .section-2 {
        &__content {
            flex-direction: column;
            height: 100%;
        }

        &__left-box,
        &__right-box {
            width: 100%;
            height: 100%;
        }

        &__left-box {

            &--title {
                font-size: 4rem;
                margin-top: 2.4rem;
            }
            &--info {
                font-size: 1.6rem;
            }
        }

        &__buttons {
            gap: 3rem;
        }

        &__right-box {

            &--photo-box {
                outline: none;
            }

            &--image {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            
        }
    }

    .section-3 {
        &__content {
            height: auto;
            padding-bottom: 1.5rem;
        }

        &__title {
            margin: 4rem;
            font-size: 4rem;
        }

        &__projects {
            flex-direction: column;
            gap: 1rem;
            margin-top: 1rem;
        }
    }

    .card {
        width: 90%;
        height: 10rem;

        &__side {
            height: 10rem;
            font-size: 1.4rem;

            &--btn {
                width: 12rem;

                &:last-child {
                    margin-top: 0;
                }
            }
        }
    }

    .mobile-card {
        display: block;
    }

    .desktop-card {
        display: none;
    }

    .section-4 {

        height: 30vh;

        &__content {
            width: 100%;
            @include flex-center;
            flex-direction: column;
        }

        &__title {
            margin: 3rem 2rem 2rem 2rem;
            font-size: 2.2rem;
        }

        &__icons {
            
            &--github-icon,
            &--linkedin-icon,
            &--email-icon {
                width: 4.4rem;
                height: 4.4rem;
            }
        }
    }

    .footer {
        margin-top: 0;
    }

    .popup {
        
        &__content {
            width: 85%;
            height: 90%;
            @include flex-center;
            margin: 0;
            padding: 0;
        }

        &__left {
            width: 0;
        }

        &__right {
            width: 100%;
            margin: 0;
        }

        &__info {
            margin: 0;
            padding: 1rem;
    
            &--summary {
                margin: 2rem 0;
            }

        }
    }

}